#blog-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#blog-list > .entry {
    padding: 10px;
    border-color:rgb(54, 28, 9);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

#blog-list > .entry:hover {
    background-color: rgba(255, 255, 255, 0.01);
    cursor: pointer;
}

#blog-list > .entry > .title {
    font-size: x-large;
    margin-bottom: 5px;
}

#blog-list > .entry > .date {
    margin-bottom: 20px;
    color: rgb(119, 91, 71);
    font-size: small;
    font-style: italic;
}

#blog-list > .entry > .preview {
    
}