@font-face {
    font-family: "Century Gothic";
    src: url("/fonts/centurygothic.ttf");
}

body {
    background-color: rgb(35, 13, 18);
    color: rgb(204, 139, 75);
    font-family: "Century Gothic";
    font-size: large;
}

a {
    color: rgb(236, 171, 107)
}

:is(h1, h2, h3, h4, h5, h6) {
    color: rgb(237, 146, 146);
}
#content {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 700px;
}

li {
    margin-bottom: 8px;
}