@font-face {
    font-family: "Century Gothic";
    src: url("/fonts/centurygothic.ttf");
}

body {
    background-color: rgb(35, 13, 18);
    color: rgb(204, 139, 75);
    font-family: "Century Gothic";
}

a {
    color: rgb(236, 171, 107)
}

h1 {
    color: rgb(237, 146, 146);
}

h2 {
    color: rgb(237, 146, 146);
}

#content {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 500px;
}

li {
    margin-bottom: 8px;
}

#navigation {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

#navigation > div {
    height: 30px;
    line-height: 30px;
    user-select: none;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(237, 146, 146);
}

#navigation > div:not(.samePage) {
    cursor: pointer;
}

#navigation > div.samePage {
    background-color: rgb(66, 34, 34);
    border-radius: 4px;
}

#buttonDisplay  {
    margin-top: 150px;
    overflow: hidden;
}

#buttonDisplay > * {
    display: inline-block;
    position: relative;
    left: 88px;
    margin-left: -88px;
}

#buttonDisplay > .button {
    image-rendering: pixelated;
}